.container{
    margin: 0;
background:linear-gradient(to left bottom,lightblue,lightpink,lightblue);
    justify-content: center;
    
    text-align: center;
 
   height: 30vw;
  
    text-decoration: double;
}
body{
    background-color:white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin:0;

}