#container{
 
    background-color: rgb(228, 79, 79);
    justify-content: center;
   position : relative;
   height: 30vw;
   width: 70vw;
    display: flex;
    margin-top: 5%;
}
.gamecontainer{
    
    text-align: center;
    display: grid;
    grid-template-columns:repeat( 3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}
.gamecontainer div{
    border: 2px solid black;
    font-size: 6vw;
    
}

.gamecontainer div:hover{
    background-color: rgb(234, 142, 142);
}
